<!doctype html>
<html lang="en" ng-app="nhateoasSampleApp">
<head>
    <meta charset="utf-8">
    <title>SIREN Api Discovery sample app</title>
    @Styles.Render("~/content/css/bootstrap.min.css")
    @Styles.Render("~/content/css/app.css")
</head>
<body>
<div class="container">
    <div class="navbar" ng-controller="MainMenuController">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="#" ng-click="start">Start</a></li>
            </ul>
        </div>
    </div>

    <ng-view></ng-view>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/app")

</body>
</html>

